.returns-index-index{
    #maincontent{
        .columns {
            max-width: 930px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
        }

        .chosen-container{
            padding: 0 9px;
            background: #ffffff;
            background-clip: padding-box;
            border: 1px solid #c2c2c2;
            border-radius: 1px;
        }
        
        .page-title-wrapper{
            text-align: center!important;
            margin-bottom: 100px;
        }

        #returns-form{

            input[type="text"]{
                height: 50px !important;
            }

            input[type="number"]{
                height: 50px !important;
            }

            .swreason .chosen-container .chosen-drop{
                left: 0px;
            }

            .swreason .chosen-container .chosen-results li.disabled-result{
               justify-content: left;
            }
            .swreason .chosen-container .chosen-results  li.active-result{
                justify-content: left;
            }

        }

    }
}